Se importan las librería a usar en principio

In [98]:

import numpy as np
import pandas as pd

Se carga el dataset en forma de DataFrame

In [99]:
accidentes =  pd.read_csv('AccidentesAviones.csv')

Se borra la columna que tiene los índices repetidos ya que no aporta nada

In [116]:
accidentes.drop(['Unnamed: 0'], axis = 1, inplace = True)

Se cambian los nombres de la columnas a unos más intuitivos

In [101]:
accidentes.rename(columns={'HORA declarada': 'horaAccidente', 'Ruta': 'lugarAccidente', 'OperadOR': 'compania', 'flight_no': 'numeroVuelo', 'route':'destino', 'ac_type': 'modeloAvion', 'registration': 'matriculaAvion', 
                            'cn_ln': 'numeroSerie', 'all_aboard':'TotalPersonas','PASAJEROS A BORDO': 'pasajeros', 'crew_aboard': 'tripulacion', 'cantidad de fallecidos': 'fallecidosTotales',
                            'passenger_fatalities': 'pasajerosFatales','crew_fatalities': 'tripulacionFatal', 'ground': 'civilesFatales', 'summary': 'descripcion'}, inplace=True)

Se reemplazan los valores que tienen '?' por nulos en la columna "horaAccidente" ya que luego será más fácil trabajar de esta forma

In [102]:
accidentes.horaAccidente.replace('?', np.nan, inplace=True)

Se normaliza los valores en la columna "horaAccidente" con la librería "re"

In [103]:
import re
for i in range(len(accidentes.horaAccidente)):
    if type (accidentes.horaAccidente.iloc[i]) == str:
        accidentes.horaAccidente.iloc[i]=re.sub(r'[Z, :,c ,;,?]','', accidentes.horaAccidente.iloc[i])

C:\Users\Usuario\AppData\Local\Temp\ipykernel_30776\4127610805.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidentes.horaAccidente.iloc[i]=re.sub(r'[Z, :,c ,;,?]','', accidentes.horaAccidente.iloc[i])

Se pasa a formato fecha la columna anteriormente comentada

In [104]:
import datetime
from datetime import time
from datetime import datetime
Hora = pd.to_datetime(accidentes.horaAccidente, format='%H%M').dt.time

se hace una copia para guardar lo trabajado por si hay algun error y no empezar de 0

In [291]:
accidentes2 = accidentes.copy()

Se sustituyen los valores de la columna 'horaAccidente'

In [292]:
accidentes2['horaAccidente']=Hora

Se pasa a fecha la columna "fecha"

In [293]:
accidentes2['fecha']=pd.to_datetime(accidentes2['fecha'])

In [294]:
accidente3 = accidentes2.drop(['numeroVuelo', 'matriculaAvion','numeroSerie','descripcion'],axis=1)

In [295]:
accidente3.head(1)

,fecha,horaAccidente,lugarAccidente,compania,destino,modeloAvion,TotalPersonas,pasajeros,tripulacion,fallecidosTotales,pasajerosFatales,tripulacionFatal,civilesFatales
0,1908-09-17,17:18:00,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,2,1,1,1,1,0,0

Se pasó a valor nulos las filas que estaban con el valor '?'

In [296]:
accidente3.pasajeros.replace('?', np.nan, inplace=True)
accidente3.TotalPersonas.replace('?', np.nan, inplace=True)
accidente3.tripulacion.replace('?', np.nan, inplace=True)
accidente3.fallecidosTotales.replace('?', np.nan, inplace=True)
accidente3.pasajerosFatales.replace('?', np.nan, inplace=True)
accidente3.tripulacionFatal.replace('?', np.nan, inplace=True)
accidente3.civilesFatales.replace('?', np.nan, inplace=True)

In [297]:
accidente3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fecha              5008 non-null   datetime64[ns]
 1   horaAccidente      3504 non-null   object
 2   lugarAccidente     5008 non-null   object
 3   compania           5008 non-null   object
 4   destino            5008 non-null   object
 5   modeloAvion        5008 non-null   object
 6   TotalPersonas      4991 non-null   object
 7   pasajeros          4787 non-null   object
 8   tripulacion        4789 non-null   object
 9   fallecidosTotales  5000 non-null   object
 10  pasajerosFatales   4773 non-null   object
 11  tripulacionFatal   4773 non-null   object
 12  civilesFatales     4964 non-null   object
dtypes: datetime64[ns](1), object(12)
memory usage: 508.8+ KB

Se completan datos faltantes con la información que se tiene disponible

In [298]:

for i in accidente3[accidente3.TotalPersonas.isnull()==True].index:
    accidente3.TotalPersonas.iloc[i] = accidente3.fallecidosTotales.iloc[i]
    accidente3.pasajeros.iloc[i] = accidente3.pasajerosFatales.iloc[i]
    accidente3.tripulacion.iloc[i] = accidente3.tripulacionFatal.iloc[i]

C:\Users\Usuario\AppData\Local\Temp\ipykernel_30776\3137868416.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidente3.TotalPersonas.iloc[i] = accidente3.fallecidosTotales.iloc[i]
C:\Users\Usuario\AppData\Local\Temp\ipykernel_30776\3137868416.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidente3.pasajeros.iloc[i] = accidente3.pasajerosFatales.iloc[i]
C:\Users\Usuario\AppData\Local\Temp\ipykernel_30776\3137868416.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidente3.tripulacion.iloc[i] = accidente3.tripulacionFatal.iloc[i]

Se divide a la mitad el valor de civiles fatales ya que si no se estaría duplicando su valor con respecto al atentado de las Torres Gemelas.

In [299]:
for i in accidente3[accidente3.civilesFatales.astype('float') == accidente3.civilesFatales.astype('float').max()].index:
    accidente3.civilesFatales.iloc[i]=1375

C:\Users\Usuario\AppData\Local\Temp\ipykernel_30776\36348127.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidente3.civilesFatales.iloc[i]=1375

Se decide borrar las filas que no tienen valor respecto a la cantidad de fallecidos ya que no nos sirve para el análisis

In [300]:
accidente3.drop(accidente3[accidente3.TotalPersonas.isnull()==True].index, inplace=True)

Se resetea el índice

In [301]:
accidente3.reset_index(drop=True, inplace=True)

Se decidió cambiar los valores que sabíamos que estaban incompletos por None o nan según ameritaba la ocasión porque al trabajar con PowerBi, tiene la característica de obviar estos datos y no sumarlo a la presentación.

In [302]:
accidente3.compania.replace('?', None, inplace=True)
accidente3.lugarAccidente.replace('?', None, inplace=True)
accidente3.destino.replace('?', None, inplace=True)
accidente3.modeloAvion.replace('?', None, inplace=True)

Se importa el dataframe a  MySql

In [305]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="MySQL2022$",
                               db="ProyectoAnalisis"))
accidente3.to_sql('accidentesOACI', con = engine, if_exists='append', index=False)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_30776\1190504244.py:6: UserWarning: The provided table name 'accidentesOACI' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  accidente3.to_sql('accidentesOACI', con = engine, if_exists='append', index=False)

5000

Se crea una lista con la información de todos los datos obtenidos de la pagina www.baaa-acro.com

In [54]:
lista = []
import pandas as pd
import requests
for i in range (0,1526):
    url = requests.get('https://www.baaa-acro.com/crash-archives?created=1900-01-01&created_1=2022-11-08&field_crash_region_target_id=All&field_crash_country_target_id&field_crash_registration_target_id&field_crash_aircraft_target_id&field_crash_operator_target_id&field_crash_cause_target_id=All&field_crash_zone_target_id&field_crash_site_type_target_id=All&field_crash_phase_type_target_id=All&field_crash_flight_type_target_id=All&field_crash_survivors_value=All&field_crash_city_target_id&page='+f'{i}')
    baaaTotal = pd.read_html(url.text)
    lista.append(baaaTotal)

Se pasa la lista a dataFrame

In [55]:
df1 = pd.DataFrame()
for i in range (0,1526):
    df1 = pd.concat([df1, lista[i][0]])

In [122]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30449 entries, 0 to 15
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Image         0 non-null      float64
 1   Date          30449 non-null  object
 2   Operator      6142 non-null   object
 3   A/C Type      30449 non-null  object
 4   Location      30439 non-null  object
 5   Fatalities    30449 non-null  int64
 6   Registration  30448 non-null  object
 7   Unnamed: 7    30449 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 2.1+ MB

Se borran los duplicados

In [120]:
df1.drop_duplicates(inplace=True)

Se guarda el df en un csv porque la importación de datos tarda mucho tiempo

In [ ]:
df1.to_csv('datasetCompletoMod.csv', index=False, sep = '|')

Se borran las columnas que no se van a utilizar

In [123]:
df1.drop(['Image','Operator','Registration','Unnamed: 7'], axis=1, inplace=True)

Se cambian los nombres de las columnas para que tengan relación con el dataset provisto en primer lugar

In [189]:
df1.rename(columns={'Date':'fecha', 'A/C Type': 'modeloAvion', 'Fatalities': 'fallecidosTotales', 'Location':'lugarAccidente'}, inplace=True)

In [212]:
df1['fecha']=pd.to_datetime(df1['fecha'])

Se guarda un csv con los cambios hechos

In [213]:
df1.to_csv('datasetCompletoMod.csv', index=False, sep = '|')

Se ingesta la tabla en la base de datos

In [262]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="MySQL2022$",
                               db="ProyectoAnalisis"))
df1.to_sql('accidentesBAAA', con = engine, if_exists='append', index=False)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_30776\2770048460.py:6: UserWarning: The provided table name 'accidentesBAAA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df1.to_sql('accidentesBAAA', con = engine, if_exists='append', index=False)

30449

Se repiten los mismo pasos que se hicieron para el dataset anterior

In [79]:
lista1 = []
import pandas as pd
import requests
for i in range (0,512):
    url = requests.get('https://www.baaa-acro.com/crash-archives?created=&created_1=&field_crash_region_target_id=All&field_crash_country_target_id&field_crash_registration_target_id&field_crash_aircraft_target_id&field_crash_operator_target_id&field_crash_cause_target_id=12990&field_crash_zone_target_id&field_crash_site_type_target_id=All&field_crash_phase_type_target_id=All&field_crash_flight_type_target_id=All&field_crash_survivors_value=All&field_crash_city_target_id&page='+f'{i}')
    baaaHumano = pd.read_html(url.text)
    lista1.append(baaaHumano)

In [87]:
df2 = pd.DataFrame()
for i in range (0,512):
    df2 = pd.concat([df2, lista1[i][0]])

In [89]:
df2.to_csv('datasetFallas.csv', index=False, sep = '|')

In [191]:
df2.drop_duplicates(inplace=True)

In [133]:
df2.drop(['Image','Operator','Registration','Unnamed: 7'], axis=1, inplace=True)

In [190]:
df2.rename(columns={'Date':'fecha', 'A/C Type': 'modeloAvion', 'Fatalities': 'fallecidosTotales', 'Location':'lugarAccidente'}, inplace=True)

In [214]:
df2['fecha']=pd.to_datetime(df2['fecha'])

In [192]:
df2.to_csv('datasetFallasMod.csv', index=False, sep = '|')

In [263]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="MySQL2022$",
                               db="ProyectoAnalisis"))
df2.to_sql('accidentesFallaHumana', con = engine, if_exists='append', index=False)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_30776\248258194.py:6: UserWarning: The provided table name 'accidentesFallaHumana' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df2.to_sql('accidentesFallaHumana', con = engine, if_exists='append', index=False)

10168